* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #444444;
}

body {
  background: linear-gradient(160deg, #EAEAEA, #F9F9F9);
  // background-attachment: fixed;
  font-family: "IBM Plex Sans", sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin: 24px -2px 0;
}
 
.buttons-left {
  display: flex;
  gap: 10px;
}
 
.btn {
  box-shadow: inset -1px -1px 0 0 #00000014, inset 1px 1px 0 0 #ffffff;
  background-color: #ffffff80;
  font-size: 14px;
  line-height: 20px;
  padding: 17px;
  border-radius: 32px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #444444;
  cursor: pointer;
  border: none;
  display: inline-flex;
}

.screen {
  height: 100dvh;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.plant-name {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  margin: 2px 0 5px;
}

.mood-pill {
  display: inline-block;
  background-color: #ffffff80;
  color: #444444;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 4px 8px;
  margin-left: -6px;
  border-radius: 6px;
}

.bottom {
  margin-top: auto;
}

.post-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  color: #444444;
  margin-bottom: 12px;
}

.post-date {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  margin-top: 18px;
}

.card-section {
  padding: 0px 40px 40px;
}

.placeholder-card {
  box-shadow: inset -1px -1px 0 0 #00000014, inset 1px 1px 0 0 #ffffff;
  background-color: #ffffff80;
  border-radius: 16px;
  height: 240px;
}
